<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar class="header">
      <svg
        (click)="back()"
        class="backSvg"
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="14.25px"
        height="20.43px"
        viewBox="0 0 792.082 792.082"
        style="enable-background: new 0 0 792.082 792.082"
        xml:space="preserve"
      >
        <g>
          <g id="_x37__34_">
            <g>
              <path
                d="M317.896,396.024l304.749-276.467c27.36-27.36,27.36-71.677,0-99.037s-71.677-27.36-99.036,0L169.11,342.161
              c-14.783,14.783-21.302,34.538-20.084,53.897c-1.218,19.359,5.301,39.114,20.084,53.897l354.531,321.606
              c27.36,27.36,71.677,27.36,99.037,0s27.36-71.677,0-99.036L317.896,396.024z"
              />
            </g>
          </g>
        </g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
      </svg>
      <p class="title">WePol</p>
      <div class="container">
        <p class="subTitle">
          Community Policing at its best! Lets look out for each other!
        </p>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <p class="titleVerifyEmail">Verify</p>
    <p class="titleVerifyEmail">Your Email</p>
    <div class="inputsPin">
      <p class="pinLabel">Enter 5 digit code we send through email</p>
      <div class="pincode">
        <ion-input
          #Field1
          (keyup)="next($event,Field2,Field1)"
          class="pinInput"
          maxlength="1"
          size="1"
          type="tel"
          value=""
          [(ngModel)]="pin1"
          placeholder="0"
        ></ion-input>
        <ion-input
          #Field2
          (keyup)="next($event,Field3,Field1)"
          class="pinInput"
          maxlength="1"
          size="1"
          [(ngModel)]="pin2"
          type="tel"
          value=""
          placeholder="0"
        ></ion-input>
        <ion-input
          #Field3
          (keyup)="next($event,Field4,Field2)"
          class="pinInput"
          maxlength="1"
          size="1"
          [(ngModel)]="pin3"
          type="tel"
          value=""
          placeholder="0"
        ></ion-input>
        <ion-input
          #Field4
          (keyup)="next($event,Field5,Field3)"
          class="pinInput"
          maxlength="1"
          size="1"
          [(ngModel)]="pin4"
          type="tel"
          value=""
          placeholder="0"
        ></ion-input>
        <ion-input
          #Field5
          (keyup)="next($event,Field5,Field4)"
          class="pinInput"
          maxlength="1"
          size="1"
          [(ngModel)]="pin5"
          type="tel"
          value=""
          placeholder="0"
        ></ion-input>
      </div>
      <p *ngIf="pinError.status" class="error">{{pinError.message}}</p>
      <p class="sendAgainLine">
        Didn't receive code?
        <span *ngIf="sendAgainEmail" (click)="sendAgain()" class="sendAgain"
          >Send Again</span
        >
        <span *ngIf="!sendAgainEmail">Send again {{countDown}} sec</span>
      </p>
      <ion-button
        [disabled]="isLoading"
        (click)="pincodeSend()"
        class="btn_pin_confirm ion-text-uppercase"
      >
        <div *ngIf="isLoading" class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span *ngIf="!isLoading">Confirm</span>
      </ion-button>
    </div>
  </div>
</ion-content>
