<ion-content>
  <ion-header class="ion-margin-bottom ion-no-border">
    <ion-toolbar class="header">
      <p class="title">WePol</p>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="buttons">
      <ion-button (click)="login()" class="btn_login ion-text-uppercase">
        Login
      </ion-button>
      <ion-button (click)="signup()" class="btn_signup ion-text-uppercase">
        Signup
      </ion-button>
      <ion-button (click)="anonymous()" class="btn_anon ion-text-uppercase">
        Stay Anonymous
      </ion-button>
    </div>
  </div>
</ion-content>
