.header,
.footer,
ion-content {
  font-family: "Poppins", sans-serif;
  --background: #042060;
}
.container {
  width: 80%;
  margin: auto;
}
.title {
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
}
.subTitle {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.titleForgotPass,
.titleNewPass {
  line-height: 1.2;
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
}
.form {
  margin-top: 60px;
}
.input {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  border-radius: 5px;
  background-color: #fff;
  color: #002c53;
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
}

.btn_confirm,
.btn_pin_confirm,
.btn_newPass_confirm {
  width: 100%;
  --background: #ffa200;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0;
  --border-radius: 5px;
  --padding-top: 23px;
  --padding-bottom: 23px;
  margin-top: 25px;
}
.signupLine,
.sendAgainLine {
  text-align: center;
  padding-bottom: 5px;
  font-size: 14px;
  color: #ffffff;
}
.sendAgainLine {
  margin-top: 60px;
}
.signUp,
.sendAgain {
  color: #ffffff;
  font-weight: 600;
  text-decoration: underline;
  font-size: 16px;
}
.footer {
  margin-top: 230px;
}
.footerNewPass {
  margin-top: 180px;
}
.pinLabel {
  color: #fff;
  font-size: 14px;
}
.pinInput {
  height: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  margin-right: 5px;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
.pincode {
  margin-top: 60px;
  display: flex;
}
.passwordDiv,
.confirmPasswordDiv {
  position: relative;
}
.eye {
  position: absolute;
  z-index: 9;
  width: 25px;
  height: 25px;
  color: #ffa200;
  top: 20%;
  left: 90%;
}
.error {
  color: #ffa200;
  margin-top: 5px;
  font-size: 14px;
}
//spinner
.spinner-div {
  display: flex;
  justify-content: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-height: 568px) {
  .title {
    margin-top: 20px;
  }
  .subTitle {
    margin-bottom: 10px;
  }
  .btn_confirm {
    margin-top: 10px;
  }
  .footer {
    margin-top: 30px;
  }
  .pincode {
    margin-top: 20px;
  }
  .sendAgainLine {
    margin-top: 20px;
  }
  .eye {
    left: 87%;
  }
  .footerNewPass {
    margin-top: 20px;
  }
  .btn_newPass_confirm {
    margin-top: 10px;
  }
  .input {
    margin-bottom: 5px;
  }
}
@media only screen and (min-height: 610px) {
  .title {
    margin-top: 40px;
  }
  .subTitle {
    margin-bottom: 30px;
  }
  .btn_confirm {
    margin-top: 10px;
  }
  .footer {
    margin-top: 100px;
  }
  .pincode {
    margin-top: 60px;
  }
  .sendAgainLine {
    margin-top: 40px;
  }
  .eye {
    left: 87%;
  }
  .footerNewPass {
    margin-top: 40px;
  }
  .btn_newPass_confirm {
    margin-top: 20px;
  }
  .input {
    margin-bottom: 10px;
  }
}
@media only screen and (min-height: 640px) {
  .title {
    margin-top: 50px;
  }
  .subTitle {
    margin-bottom: 30px;
  }
  .btn_confirm {
    margin-top: 10px;
  }
  .footer {
    margin-top: 100px;
  }
  .pincode {
    margin-top: 60px;
  }
  .sendAgainLine {
    margin-top: 40px;
  }
  .eye {
    left: 87%;
  }
  .footerNewPass {
    margin-top: 40px;
  }
  .btn_newPass_confirm {
    margin-top: 20px;
  }
  .input {
    margin-bottom: 10px;
  }
}
@media only screen and (min-height: 665px) {
  .title {
    margin-top: 50px;
  }
  .subTitle {
    margin-bottom: 60px;
  }
}
@media only screen and (min-height: 731px) {
  .title {
    margin-top: 50px;
  }
  .subTitle {
    margin-bottom: 60px;
  }
  .btn_confirm {
    margin-top: 10px;
  }
  .footer {
    margin-top: 150px;
  }
  .form {
    margin-top: 60px;
  }
  .pincode {
    margin-top: 60px;
  }
  .sendAgainLine {
    margin-top: 60px;
  }
  .eye {
    left: 87%;
  }
  .footerNewPass {
    margin-top: 60px;
  }
  .btn_newPass_confirm {
    margin-top: 30px;
  }
  .input {
    margin-bottom: 15px;
  }
}
@media only screen and (min-height: 736px) {
  .title {
    margin-top: 50px;
  }
  .subTitle {
    margin-bottom: 60px;
  }
  .btn_confirm {
    margin-top: 10px;
  }
  .footer {
    margin-top: 150px;
  }
  .form {
    margin-top: 60px;
  }
  .pincode {
    margin-top: 60px;
  }
  .sendAgainLine {
    margin-top: 60px;
  }
  .eye {
    left: 87%;
  }
  .footerNewPass {
    margin-top: 60px;
  }
  .btn_newPass_confirm {
    margin-top: 30px;
  }
  .input {
    margin-bottom: 15px;
  }
}
@media only screen and (min-height: 800px) {
  .title {
    margin-top: 50px;
  }
  .subTitle {
    margin-bottom: 60px;
  }
  .btn_confirm {
    margin-top: 10px;
  }
  .footer {
    margin-top: 230px;
  }
  .form {
    margin-top: 60px;
  }
  .pincode {
    margin-top: 60px;
  }
  .sendAgainLine {
    margin-top: 60px;
  }
  .eye {
    left: 87%;
  }
  .footerNewPass {
    margin-top: 150px;
  }
  .btn_newPass_confirm {
    margin-top: 30px;
  }
  .input {
    margin-bottom: 15px;
  }
}

@media only screen and (min-height: 823px) {
  .title {
    margin-top: 50px;
  }
  .subTitle {
    margin-bottom: 60px;
  }
  .form {
    margin-top: 60px;
  }
}
